<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>Confirm Authorization to: <%- client.name %></title>
    </head>
    <body>
        <form id="confirm-form">
            <h3>User Authorization</h3>
            <div>
                <p>Dear <%- loginUser.username %>, application <%- client.name %> wants the following access to your data in the OAuth Protected Resource Server:</p>
                <ul>
                    <% scopes.forEach(function(s){ %>
                    <li><%- s %></li>
                    <% }) %>
                </ul>
                <p>Do you agree?</p>
            </div>
            <button id="agree-btn">Agree</button>
            <button id="deny-btn">Deny</button>
            <button id="logout-btn">Log out</button>
        </form>
        <script type="text/javascript">
        var form = byId('confirm-form'),
            // oauthUri = byId('oauth-uri-input').value,
            // csrfToken = byId('csrf-token-input').value,
            agreeBtn = byId('agree-btn'),
            denyBtn = byId('deny-btn'),
            logoutBtn = byId('logout-btn');

        form.onsubmit = function(){
            return false;
        };

        agreeBtn.onclick = function(){
            window.location.href = "<%- client.redirect_uri %>?token=<%- accessToken %>&state=<%- state %>";
        };

        // denyBtn.onclick = function(){
        //     window.location.href = oauthUri+'&deny=true&csrfToken='+encodeURIComponent(csrfToken);
        // };

        // logoutBtn.onclick = function(){
        //     window.location.href = oauthUri+'&logout=true&csrfToken='+encodeURIComponent(csrfToken);
        // };

        function byId(id){
            return document.getElementById(id);
        }
        </script>
    </body>
</html>